<h1>{{selected}}</h1>

<mat-form-field appearance="fill">
    <mat-label>Select use case</mat-label>
    <mat-select [(value)]="selected" (selectionChange)="LoadData()">
      <mat-option> - </mat-option>
      <mat-option value="FHWS Duplo Use Case STEP AP203">FHWS Duplo Use Case STEP AP203</mat-option>
      <mat-option value="FHWS Duplo Use Case STEP AP214">FHWS Duplo Use Case STEP AP214</mat-option>
      <mat-option value="FHWS Duplo Use Case STEP AP242">FHWS Duplo Use Case STEP AP242</mat-option>
      <mat-option value="uhlmann_und_zacher">Uhlmann und Zacher</mat-option>
      <mat-option value="wittenstein">Wittenstein</mat-option>
      <mat-option value="frisenius">Frisenius</mat-option>
      <mat-option value="de_software_and_control">DE software & control</mat-option>
      <mat-option value="universal_robots">Universal Robots</mat-option>
    </mat-select>
</mat-form-field>

<mat-divider></mat-divider>


<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Component</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let element of this.data">
            <td>{{element.description}}</td>
            <td><div><img  class="img" src={{element.Pic}}/></div></td>
        </tr>
    </tbody>
</table>