table {
    width: 100%;
  }

.rotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 12px;
} 


input {
  width: 20px;
}

.small{
  width: 500px;
}



ng-container{
  padding: 37px;
 }

 mat-form-field {
  width: 50%;
  padding: 2% 
}

